html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

#title {
  box-sizing: border-box;
  margin: 5% auto;
  height: 10%;
}

.calculator {
  width: 40%;
  height: 50%;
  margin: 2% auto;
  border-radius: 10%;
}

.calculator,
.display {
  border: solid;
}

.display {
  height: 40px;
  width: 80%;
  margin: 5% auto;
  border-radius: 30%;
}

.numpad {
  display: flex;
  flex-direction: column;
  border: solid;
  width: 80%;
  margin: 5% auto;
  padding: 2% 0;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 4% 5%;
}

.num,
.operator {
  gap: 10px 5px;
  border: solid;
  width: 15px;
  text-align: center;
  padding: 10px;
}
