html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Inter';
}

#title {
  box-sizing: border-box;
  margin: 3% auto;
  height: auto;
  font-size: 48px;
}

.calculator {
  width: 40%;
  height: 450px;
  margin: 2% auto;
}

.display {
  box-sizing: border-box;
  display: flex;
  border: solid;
  border-width: 5px;
  border-bottom: none;
  height: 80px;
  width: 340px;
  margin: 0 auto;
  justify-content: right;
  line-height: 40px;
  font-size: 30px;
  align-items: center;
  letter-spacing: 0.5px;
  padding-right: 4px
}

.numpad {
  display: flex;
  flex-direction: column;
  border: solid;
  border-width: 5px;
  width: 330px;
  margin: 0 auto;
  padding: 2% 0;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 4% 5%;
}

.num,
.operator {
  gap: 10px 5px;
  width: 15px;
  font-size: 30px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}
